body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
}
.healthy-one{
    display:flex;
    width:100%;
}
.healthy-item{
    width:50%;
    margin-top: 80px;
    margin-left: 170px;
    margin-bottom: 50px;
}
.healthy-item h1{
    font-size:40px;
    color: gray;
   
}
.healthy-item p{
    font-size:20px;
    margin-bottom: 30px;
    color: gray;
}
.healthy-item a{
    text-decoration:none;
    padding:8px 15px;
    border: 1px solid tomato;
    border-radius: 17px;
    background-color:#ff3c1a;
    color:white;
    
    

}
.color-text{
    color:#ffc14d;
}
.healthy-item-one{
    width:50%;
}
.healthy-item-one img{
    width:80%;
    margin-top: 20px;
}
.healthy-two{
    display:flex;
    width:100%;
    background-image: url(img/7.png);
    background-repeat: no-repeat;
    

}
.healthy-item-two img{
    width:50%;
    margin-top: 100px;
    margin-left: 200px;
    height:400px;
}
.healthy-item-two-one{
    width:50%;
    margin-left: 200px;
    
}
.healthy-item-two-one h1{
    margin-top: 150px;
}
.healthy-item-two-one a{
    text-decoration:none;
    padding:8px 15px;
    border: 1px solid tomato;
    border-radius: 17px;
    background-color:#ff3c1a;
    color:white;
}
.healthy-item-two-one h1{
    font-size:40px;
    color: gray;
}
.healthy-item-two-one p{
    font-size:20px;
    margin-bottom: 30px;
    color: gray;
}
.third-content{
    text-align: center;
    color: gray;
    margin-top: 80px;
}
.fourth-section{
    display: flex;
    width: 100%;
    margin-top: 100px;
}
.fourth-section-one img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding-top:50px;
    
}
.fourth-section-one{
    box-shadow: 5px 7px 20px grey;
    
    border-radius:  10px;
    margin-left: 50px;
    width: 45%;
    margin-right: 20px;
    
    
}
.fourth-section-one h3{
    padding-left:45px;
}
.fourth-section-one p{
    padding-left:45px;
    color: gray;
}
.fourth-section-two img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding-top:50px;
}
.fourth-section-two{
    box-shadow: 5px 7px 20px grey;
    
    border-radius:  10px;
    margin-left: 20px;
    margin-right: 50px;
    width: 45%;
    
}
.fourth-section-two h3{
    padding-left:45px;
}
.fourth-section-two p{
    padding-left:45px;
    color:gray;
}
.fifth-section{
    display: flex;
    width: 85%;
    
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 5px 7px 20px grey;
    border-radius: 10px;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.fifth-section-one{
    width: 33.33%;
    text-align: center;
}
.fifth-section-one p{
    color: gray;
}
.last-part{
    background-color:black;
    padding-top: 30px;
    padding-bottom: 30px;
}
.last-part-one{
    text-align: center;
    color:gray;
}


